{% extends 'base.html.twig' %}

{% block body %}
<!-- Header START -->
<header class="navbar-light navbar-sticky">
    {% include 'front/partials/navbar.html.twig' %}
</header>
<!-- Header END -->

<!-- Main Content START -->
<main>
    <div class="container">
        <!-- Flash Messages -->
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show mt-4" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        {% endfor %}
        
        {% block front_content %}
        <!-- Page content goes here -->
        {% endblock %}
    </div>
</main>
<!-- Main Content END -->

<!-- Footer START -->
{% include 'front/partials/footer.html.twig' %}
<!-- Footer END -->

<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>
{% endblock %}